.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    &__link{
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        color: white;
        padding: 18px;
        background-color: #4E4E4E;
        border-radius: 100px;
        margin-bottom: 15px;
        width: 100%;
        cursor: pointer;
        @include adaptTo('not-mobile'){
            margin: 15px;
            width: calc(50% - 30px);
        }
    }

}