.section {
    

    @include adaptTo('desktop-xl'){
        max-width: 1280px;
        margin: auto;
    }

    &__title{
        background-color:#656565;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poller One';
        font-size: 14px;

        @include adaptTo('not-mobile'){
            font-size: 20px;
        }

        @include adaptTo('desktop-xl'){
            margin: 20px auto 20px auto;
            border-radius: 100px;
            max-width: 360px;
        }
    }

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @include adaptTo('not-mobile'){
            padding: 10px;
        }
    }

}